{% extends "base.html" %}
{% block content %}
<form action="" method=post enctype=multipart/form-data>
<br>
<h4>Bicluster View:</h4>
Please select a bicluster:<br><br>
{% if biclusters %}
<select name="selectbc">
  {% for b in biclusters %}
  <option name="option" value="{{b}}">{{b}}</option><br>
  {% endfor %}
</select>
  {% endif %}<br>
  <input type="submit" name="submit" id="button" value="Bicluster Heatmap"/><br><br><br><br>
  <h4>Condition View:</h4>
<input type="submit" name="submit" id="button" value="Heatmap"/><br><br><br><br>
<br><br><br><br>
</form>

{% endblock %}